legend{
    background-color: black;
    color: white;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

form{
    border: 2px solid black;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}