/* Estilo para el Legend */

legend {
    background-color: #343A40;
    color: white;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/* Estilo para el formulario */

form {
    border: 2px solid #343A40;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
